<div class="h-screen flex items-center justify-center">
    <!-- Forma za registraciju -->
    <form class="shadow-md rounded-md p-5 bg-white w-1/4 flex flex-col items-center" [formGroup]="form" (ngSubmit)="onRegister()">
      
      <!-- Naslov i opis -->
      <div class="py-4 text-center">
        <h1 class="font-bold py-2">Register</h1>
        <h6 class="text-slate-600 text-base">Create your account</h6>
      </div>
  
      <!-- Email polje -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email" required>
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
  
      <!-- Full Name polje -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full Name" formControlName="fullName" required>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
  
      <!-- Password polje -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </mat-form-field>
  
      <!-- Confirm Password polje -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword" required>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon (click)="hideConfirm = !hideConfirm" matSuffix>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </mat-form-field>
  
      <!-- Dugme za registraciju -->
      <button type="submit" class="w-full py-2 px-3 bg-purple-700 text-white border border-slate-200">
        Register
      </button>
  
      <!-- Link za već postojeći nalog -->
      <div class="my-5">
        <span class="text-slate-600">
          Already have an account? 
        </span>
        <a class="text-purple-700" [routerLink]="['/login']">Log In</a>
      </div>
  
    </form>
  </div>
  